<footer class="footer bg-light py-3 mt-auto">
  <div class="container d-flex justify-content-center">
    <p class="text-muted m-auto">
      &copy; YelpCamp <%= new Date().getFullYear() %>
    </p>
  </div>
</footer>
