#cluster-map {
  width: 100%;
  height: 350px;
}

#map {
  width: 100%;
  height: 300px;
}

.btn-logout {
  background: none;
  border: none;
}

.btn-logout:hover {
  background: none;
  cursor: pointer;
}

.carousel-img {
  height: 350px;
  object-fit: cover;
}

.text-muted {
  color: #6c757d !important;
}

ul {
  margin: 0;
  padding: 0;
}
